/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 50px 135px;
    font-size: 16px;
}
h1{
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
}
p, .tours-content{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    padding: 18px 32px;
    border: 0;
    color: white;
    font-weight: 700;
}

/* header section styles start here */
/* nav section style */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.container .toggle-bar{
    display: none;
}
.list{
    width: 50%;
}
.list > ul{
    display: flex;
    justify-content: space-between;
    gap: 2.5 rem;
}
.container nav{
    display: flex;
    align-items: center;
}
.list > ul li{
    list-style: none;
    cursor: pointer;
    color: var(--Dark-02, #424247);
    font-size: 1.2 rem;
}
.list > ul li a{
    text-decoration: none;
}
/* banner section style */
.banner{
    max-width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    margin-top: 50px;
    border-radius: 16px;
}
.banner .content{
    width: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner .content h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.banner .content p{
    color: white; 
    line-height: 1.5rem; 
    margin: 1.5rem 0;
    text-align: center;
}
.banner .content .field{
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner .content input{
    width: 154px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    padding: 1rem;
    margin-right: 1rem;
    text-align: left;
    color: rgba(19, 19, 24, 0.50);
}

/* sections style are started here */
/* popular tours section */
.tours-content{
    width: 50%;
}
.tours-img{
    width: 50%;
}
.tours-section{
    display: flex;
}
.tours-content li{
    margin: 30px;
}
.tours-content p{
    margin-right: 10px;
    margin-bottom: 16px;
    margin-top: 24px;
}
/* destination section start */

/* .destination-section .destination-container .destination img{
    position: relative;
    border: 2px solid black;
}
.destination-section .destination-container .destination h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    text-align: center;
} */

.title, .description{
    text-align: center;
    max-width: 640px;
    margin: 30px auto;
}
.destination-container{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}
.destination-container .destination{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: grid;
    gap: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: white;
}
.destination-container .Maldives{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 5.png');
    grid-column: 1/13;
    /* grid-row: 1/2; */
    height: 300px;
}
.destination-container .Indonesia{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 8.png');
    grid-column: 14/26;
    /* grid-row: 1/2; */
    height: 300px;
}
.destination-container .Srilanka{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 6.png');
    grid-column: 1/8;
    height: 280px;
    margin-top: 24px;
}
.destination-container .North-America{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 7.png');
    grid-column: 9/19;
    height: 280px;
    margin-top: 24px;
}
.destination-container .Kashmir{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 9.png');
    grid-column: 20/26;
    height: 280px;
    margin-top: 24px;
}
.destination-container .Bangladesh{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 11.png');
    grid-column: 1/11;
    /* grid-row: 1/2; */
    height: 300px;
    margin-top: 24px;
}
.destination-container .Bandarban{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url('../Images/Rectangle\ 10.png');
    grid-column: 12/26;
    /* grid-row: 1/2; */
    height: 300px;
    margin-top: 24px;
}
.card-container .Choose-card{
    max-width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

.card-container .Choose-card h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card-container .Choose-card p{
    color: #5A5A5D;
    line-height: 26px; 
}
.card-container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 24px;
}
.card-container .hotel{
    grid-column: 1/13;
}
.card-container .map{
    grid-column: 13/25;
}
.card-container .price{
    grid-column: 6/19;
}




