/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 50px 135px;
    font-size: 16px;
}
h1{
    color: #131318;
    font-weight: 800;
    font-size: 2.25rem;
}
p, .tours-content{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    padding: 18px 32px;
    border: 0;
    color: white;
    font-weight: 700;
}

/* header section styles start here */
/* nav section style */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.container .toggle-bar{
    display: none;
}
.list{
    width: 50%;
}
.list > ul{
    display: flex;
    justify-content: space-between;
    gap: 2.5 rem;
}
.container nav{
    display: flex;
    align-items: center;
}
.list > ul li{
    list-style: none;
    cursor: pointer;
    color: var(--Dark-02, #424247);
    font-size: 1.2 rem;
}
.list > ul li a{
    text-decoration: none;
}
/* banner section style */
.banner{
    max-width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    margin-top: 50px;
    border-radius: 16px;
}
.banner .content{
    width: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner .content h1{
    text-align: center;
    color: white;
    font-size: 4rem;
}
.banner .content p{
    color: white; 
    line-height: 1.5rem; 
    margin: 1.5rem 0;
    text-align: center;
}
.banner .content .field{
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner .content input{
    width: 154px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    padding: 1rem;
    margin-right: 1rem;
    text-align: left;
    color: rgba(19, 19, 24, 0.50);
}

/* sections style are started here */
/* popular tours section */
.tours-content{
    width: 50%;
}
.tours-img{
    width: 50%;
}
.tours-section{
    display: flex;
}
.tours-content li{
    margin: 30px;
}
.tours-content p{
    margin-right: 10px;
    margin-bottom: 16px;
    margin-top: 24px;
}